Select/index
ここには、ユーザー情報と一番最後に選択された、商品を表示させたい
<%=link_to "商品登録", new_item_path %>
<%=link_to "登録商品一覧", items_path %>
<%= link_to "ログアウト", destroy_user_session_path, :method => :delete%>
<%= link_to "顧客一覧", users_path %>


<% @selects.each do |select| %>

<p>ユーザー情報</p>
<p>E-mail</p>
<%= select.user.email %>
<p>郵便番号</p>
<%= select.user.zip_code %>
<p>住所</p>
<%= select.user.home_address %>
<p>選択商品</p>
<%= select.item.name %>

<% end %>



