
<div class="main">
	<div class="container-fluid">
		<div class="row">
			<h1>お客様情報編集画面</h1>

			<%= form_for(@user) do |f| %>
				<p>郵便番号</p>
				<%= f.text_field :zip_code %>
				<p>お届け先住所</p>
				<%= f.text_field :home_address %>
				<%= f.submit "お届け先情報更新" %>
			<% end %>

			<%= link_to "サービスを退会する", user_path(@user.id), method: :delete, "data-confirm"=> "本当に退会されますか？" %>
		</div>
	</div>
</div>
