
<div class="main">
	<div class="container-fluid">
		<div class="row">
			<h1>サービス利用者一覧</h1>
			<p>検索</p>
			  <%= form_tag(users_path,:method => 'get') do %>
			  <%= text_field_tag :search %>
			  <%= submit_tag 'Search', :name => nil %>
			<% end %>
			<div class="table-responsive">
				<% @users.each do |user| %>
					<table class="table table-striped" style="table-layout:fixed;">
						<thead>
							<tr>
								<th>Email</th>
								<th>郵便番号</th>
								<th>住所</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th><%= link_to user.email, user_path(user.id) %></th>
								<td><%= user.zip_code %></td>
								<td><%= user.home_address %></td>
							</tr>
						</tbody>
					</table>
				<% end %>
				<%= paginate @users, class: "paginate" %>
			</div>
		</div>
	</div>
</div>