<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<h2>現在登録されている情報</h2>
<%= link_to "ログアウト", destroy_user_session_path, :method => :delete%>


	<h2>商品</h2>
	<p>商品名</p>
	<%= @user.selects.last.item.name %>
	<p>商品説明</p>
	<%= @user.selects.last.item.caption %>


	<h2>お届け先情報</h2>
	<p>郵便番号</p>
	<%= @user.zip_code %>
	<p>住所</p>
	<%= @user.home_address %>
