

<div class="main">
	<div class="container-fluid">
		<div class="row">
			<h1 style="line-height: 3em">マイページ</h1>
			<h2>毎月お届けする商品</h2>
			<% if @user.select.blank? %>
				<p>現在、商品が選択されていません。</p>
				<%= link_to "商品を選択する", items_path%>
			<% else %>
			<div class="col-md-4">
				<%= attachment_image_tag @user.select.item, :image, :fill, 150, 150, format: 'png' %>
			</div>
			<div class="col-md-4">
				<p class="about-item">商品名</p>
				<%= @user.select.item.name %>
				<p class="about-item">商品説明</p>
				<%= @user.select.item.caption %>
			</div>
			<div class="col-md-4">
				<%= link_to '選択商品変更' , items_path %>
			</div>
			<% end %>
		</div>
	</div>
</div>

<div class="main">
	<div class="container-fluid">
		<div class="row">
			<h2 >お届け先情報</h2>
			<div class="col-md-4">
				<p class="about-user">郵便番号</p>
				<%= @user.zip_code %>
				<p class="about-user">住所</p>
				<%= @user.home_address %>
			</div>
			<div class="col-md-4">
				<%= link_to 'お届け先情報変更' , edit_user_path(@user.id) %>
			</div>
		</div>
	</div>
</div>