<h1>Items#edit</h1>
<p>Find me in app/views/items/edit.html.erb</p>
<%= form_for(@item) do |f| %>
	<%= f.text_field :name %>
	<%= f.text_area :caption %>
	<%= f.attachment_field :image %>
	<%= f.submit "Update" %>
<% end %>