<div class="main">
	<div class="container-fluid">
		<div class="row">
			<h1>管理者　登録商品編集ページ</h1>
			<%= form_for(@item) do |f| %>
				<p>商品画像</p>
				<%= f.attachment_field :image %>
				<p>商品名</p>
				<%= f.text_field :name %>
				<p>商品名</p>
				<%= f.text_area :caption %>
				<%= f.submit "Update" %>
			<% end %>
		</div>
	</div>
</div>
