
<div class="main">
	<div class="container-fluid">
		<div class="row">
			<% if user_signed_in? %>
				<% if current_user.admin == true %>
					<h1 style="line-height: 3em">登録商品一覧</h1>
				<% else %>
					<h1 style="line-height: 3em">Paperをご利用いただきありがとうございます。</h1>
					<p class="item-announce">毎月ご利用される商品を選択してください</p>
					<p class="item-announce">※選択してから1ヶ月以内は商品を変更できません。</p>
				<% end %>
			<% end %>

			<% @items.each do |item| %>
				<div class="col-md-4">
					<%= attachment_image_tag item, :image, :size => "300x300" %>
					<p class="about-item" style="font-weight: bold;">商品名</p>
					<%= item.name %>
					<p class="about-item" style="font-weight: bold;">商品説明</p>
					<%= item.caption %>

					<% if current_user.select.present? %>
						<% if current_user.select.created_at < Time.current.ago(1.month) %>
							<div class="select-form">
								<%= form_tag("/selects") do %>
								<!-- チェックボックスを用いて、selectの配列に、item_idと0.1を入れるようにする。 -->
								<%= check_box "select", "#{item.id}", class: "checkbox" %>
								<input type="submit" value="確定">
								<% end %>
							</div>
						<% else %>
						<!-- チェックボックス表示させない -->
						<p style="line-height: 3em" >※ご注文から30日間は商品変更できません</p>
						<% end %>
					<% else %>
						<div class="select-form">
							<%= form_tag("/selects") do %>
							<!-- チェックボックスを用いて、selectの配列に、item_idと0.1を入れるようにする。 -->
							<%= check_box "select", "#{item.id}", class: "checkbox" %>
							<input type="submit" value="確定">
							<% end %>
						</div>
					<% end %>
					<% if user_signed_in? %>
						<% if current_user.admin == true %>
							<%= link_to "Show", item_path(item.id) %>
						<% end %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>



