<h1>Items#new</h1>
<p>Find me in app/views/items/new.html.erb</p>

<%= form_for(@item) do |f| %>
<%= f.text_field :name %>
<%= f.text_area :caption %>
<%= f.attachment_field :image %>
<%= f.submit "出品" %>
<% end %>