<div class="main">
	<div class="container-fluid">
		<div class="row">
			<h1>管理者　商品詳細ページ</h1>

			<%= attachment_image_tag @item, :image, :size => "150x150" %>
			<p>商品名</p>
			<%= @item.name %>
			<p>商品説明</p>
			<%= @item.caption %>

			<%= link_to "Edit", edit_item_path(@item.id) %>
			<%= link_to "Delete", item_path(@item.id), method: :delete, "data-confirm"=> "Are you sure?" %>
		</div>
	</div>
</div>

